.loader.hidden,
.row.hidden{
  opacity:0;
  z-index: 0;
}
.row{
  transition: opacity 950ms ease-in-out, z-index 1500ms ease-in-out;
}
.cont{
  position: relative;
  width: 100%;
}
.loader {
  right: 50%;
  z-index: 1;
  top: 40%;
  left: 50%;
  position: fixed;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  transition: opacity 950ms ease-in-out, z-index 1500ms ease-in-out;
}
.timeline{
  text-align: center;
  margin: 0px;
  padding: 0;
}
.row{
  margin:auto;
  max-width: 1600px;
}
.horizontal-view{
  padding:0px;
}
.horizontal-view > div{
  float: left;
  height: 490px;
}

.description{
  padding:0px;
  position: fixed;
  bottom:0px;
}
.description > div {
  cursor: pointer;
  float: left;
  width:11.11%;
  text-align: center;
  height: 30px;
  position: relative;
  transition: all 500ms ease-in-out;
  color: #818182;
}
.description{
  margin-bottom: 10px;
  max-width: 1600px;
}

.description > div.selected,
.description > div:hover{
  border-radius: 10px;
  color: black;
}


.description > div .color{
  background: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: 5px;
  opacity: 0.3;
  transition: opacity 500ms ease-in-out;
}
.description > div.selected .color,
.description > div:hover .color{
  opacity: 1;
}
.description > div .color.textiles{
  background: #2a9300;

}
.description > div .color.wood{
  background: #663300;
}
.description > div .color.minerals{
  background: #0f7d6f;
  left: 17%;
}
.description > div .color.food{
  background: #003399;
}
.description > div .color.chemicals{
  background: #9e9e00;
    left: 13%;
}
.description > div .color.plastic{
  background: #7030a0;
}
.description > div .color.animal{
  background: #c00000;
}
.description > div .color.fuel{
  background: #ff9900
}
.description > div .color.mach{
  background: #dc57dc;
}
.description.country-view > div{
  color:black;
}
.description.country-view > div .color{
  opacity: 1;
}

.cleveland_dot_plot{
/*  border:solid 1px;
  border-radius: 10px;*/
  padding:0px;
}
.dot_matrix_chart,
.line_chart{
  height: 300px !important;/*
  border:solid 1px;
  border-radius: 10px;*/
  padding:0px;
}
.hide{
  display: none;
}

.dot_matrix_chart h1{
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-left: -20px;
  font-weight: 700;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
