#map{
  position: relative;
  width: 100%;
}
.map_container{
  position: relative;
  border: solid 1px;
  border-radius: 10px;
  padding:0px;
  transition: width 250ms ease-in-out;
  overflow-y: hidden;
}

#map ,
#map svg{
  border-radius:10px;
}

#bar-cloropleth{
  border: solid 1px;
  width: 400px;
  position: absolute;
  bottom: 2%;
  right: 10%;
}
#bar-cloropleth > div{
  width: 20%;
  float: left;
  border-right: solid 1px;
  background: rgba(192,0,0,1);
  height: 25px;
}
#bar-cloropleth > div:last-child{
  border-right: 0px;
}
/* Hover Box */
#map .datamaps-hoverover .hoverinfo strong{
/*  display: none;*/
}

#bar-cloropleth > div:first-child{
  background: #818182;
}
#bar-cloropleth > div:nth-child(2){
  background: rgba(192,0,0,0.4);
}
#bar-cloropleth > div:nth-child(3){
  background: rgba(192,0,0,0.6);
}
#bar-cloropleth > div:nth-child(4){
  background: rgba(192,0,0,0.8);
}


/* Flow line */

#line {
  width: 100%;
  margin: 20px 0;
  height: 300px;
  background: #eee;
}

path.datamaps-arc {
  stroke-dasharray: 5 !important;
  animation: dash 50s linear infinite;
  animation-direction: reverse;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
#map .arc {
    transition: max-width 500ms ease-in-out, max-heiht 500ms ease-in-out;
    max-width: 0;
    max-height: 0;
}
