.timeline{
  padding-bottom: 30px;
}

.timeline .buttons{
  padding:0px;
}
.timeline .buttons .toggle-button{
  width:33.33333%;
  float:left;
  padding-top:10px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.timeline .buttons > div{
  width:33.33333%;
  float:left;
}
.timeline .buttons > div:last-child{
  position: relative;
}
.timeline .buttons > div:last-child > p{
  float: left;
  width: 100%;
  font-size: 12px;
  margin-bottom: 0px;
  text-align: left;
}
.timeline .buttons > div:last-child > .list{
  float: left;
  width: 100%;
  position: absolute;
  top: 46px;
  background: white;
  z-index: 1;
  max-height: 348px;
  overflow: hidden;
  overflow-y: auto;
  transition: max-height 250ms ease-in-out;
}
.timeline .buttons > div:last-child > .list.unlisted{
  max-height: 0px;
}
.timeline .buttons > div:last-child > .list .item{
  border-left: solid 1px;
  border-bottom: solid 1px;
  border-right: solid 1px;
  padding:2px 0px;
  cursor:pointer;
  transition: all 250ms ease-in-out;
  background: white;
}
.timeline .buttons > div:last-child > .list .item:hover,
.timeline .buttons > div:last-child > .list .item.selected{
  background: grey;
  color: white;
}
.timeline .buttons > div:last-child input{
  float: left;
  width: 100%;
  border-radius: 5px;
  border: solid 1px;
  padding: 1px 6px;
}
.timeline .buttons .toggle-button:first-child{
  padding-left: 30px;
}
.timeline .buttons .toggle-button .title{
  float:left;
}
.timeline .buttons .toggle-button .options{
  width:45%;
  float:left;
  text-align: left;
}
.timeline .buttons .toggle-button .options p{
  overflow: hidden;
  float: left;
  width: 97%;
  margin-bottom: 0px;
  transition: max-width 350ms ease-in-out;
  max-width: 100%;
  text-align: left;
  cursor: pointer;
}
.timeline .buttons .toggle-button .options p.hidden-class{
  max-width: 0px;
}
.timeline .slider{
  float:left;
  position: relative;
  height: 45px;
}
.timeline .slider .slide{
  position: absolute;
  width: 70%;
  top: 50%;
  left: 15%;
  height: 0px;
  border: solid 1px #333;
  border-bottom: solid 2px;
}
.timeline .slider .slide .left-slide,
.timeline .slider .slide .right-slide{
  height: 21px;
  background: black;
  width: 3px;
  top: -10px;
  position: absolute;
}
.timeline .slider .slide .right-slide{
  right:-3px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  border: 1px solid #c5c5c5;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
  height: 15px;
  width: 20px;
  border: 3px solid #333;
  top: -7px;
  outline-color: white !important;
  width:15px;
  border-radius: 50%;
  margin-left: -6px;
}
.timeline .slider .slide .left-slide{
  left: -1px;
}
.timeline .slider .slide span{
  outline-color: none !important ;
}
.timeline .slider .slide span .year{
  position: absolute;
  left: -155%;
  top:140%;
  background: white ;
  z-index: 1
}
.timeline .slider .slide .min-max-year{
  position: absolute;
  top: 20px;
  left: -16px;
}
